# top-most EditorConfig file
root = true

# General
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

# Eslint rules
[*.{js,ts}]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
brace_style = Allman

# Stylelint rules
[*.{html,css,scss,less,sass}]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

# Visual Studio EditorConfig rules
[*.{csproj,vbproj,sln}]
indent_style = tab
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

# CSV
[*.csv]
indent_style = space
indent_size = 1

#EditorConfig
[.editorconfig]
indent_style = space

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_size = 2
indent_style = space
